@media screen and (min-width: 769px) {
  html,
  body,
  .container-fluid,
  .container,
  .row,
  #bg,
  section,
  footer,
  .mask,
  .home .section1 nav {
    width: 768px;
    margin: 0 auto;
  }
  .register .container-fluid .line_2 {
    width: 470px;
  }
  .section1 .row {
    width: 740px;
    margin: 0 auto;
  }
}
input:active,
button:active,
button:focus,
input:focus {
  outline: none;
}
