<div class="home container-fluid" id="aaa">
  <section class="section1">
    <!-- banner -->
    <div class="banner"><img src="images/banner_01.jpg" alt=""></div>
    <!-- nav -->
    <nav class="text-center"><img src="images/banners/banner_1.gif" alt=""></nav>
    <!-- coupon -->
    <div class="container coupon">
      <!-- 1 -->
      <div class="row">
        <div class="col-xs-12"><img src="images/coupon/c_lg_01.gif" alt="" ng-click="getCouponId('xinren8815')">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4"><img src="images/coupon/c_sm_01.gif" alt="" ng-click="getCouponId('fanpiao8810')">
          <button ng-if="couponStatus.fanpiao8810" class="btn" type="button" ng-click="getCouponId('fanpiao8810')">立即获取</button>
          <button ng-if="!couponStatus.fanpiao8810" class="btn active" type="button">已领空</button>
        </div>

        <div class="col-xs-4"><img src="images/coupon/c_sm_02.gif" alt="" ng-click="getCouponId('roupiao19950')">
          <button ng-if="couponStatus.roupiao19950" class="btn" type="button" ng-click="getCouponId('roupiao19950')">立即获取</button>
          <button ng-if="!couponStatus.roupiao19950" class="btn active" type="button">已领空</button>
        </div>
        <div class="col-xs-4"><img src="images/coupon/c_sm_03.gif" alt="" ng-click="getCouponId('yanghuo1010')">
          <button ng-if="couponStatus.yanghuo1010" class="btn" type="button" ng-click="getCouponId('yanghuo1010')">立即获取</button>
          <button ng-if="!couponStatus.yanghuo1010" class="btn active" type="button">已领空</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3"><img src="images/coupon/c_xs_01.gif" alt="" ng-click="getCouponId('liangpiao55')">
          <button ng-if="couponStatus.liangpiao55" class="btn" type="button" ng-click="getCouponId('liangpiao55')">立即获取</button>
          <button ng-if="!couponStatus.liangpiao55" class="btn active" type="button">已领空</button>
        </div>
        <div class="col-xs-3"><img src="images/coupon/c_xs_02.gif" alt="" ng-click="getCouponId('lingshi6910')">
          <button ng-if="couponStatus.lingshi6910" class="btn" type="button" ng-click="getCouponId('lingshi6910')">立即获取</button>
          <button ng-if="!couponStatus.lingshi6910" class="btn active" type="button">已领空</button>
        </div>
        <div class="col-xs-3"><img src="images/coupon/c_xs_03.gif" alt="" ng-click="getCouponId('jiuyin9910')">
          <button ng-if="couponStatus.jiuyin9910" class="btn" type="button" ng-click="getCouponId('jiuyin9910')">立即获取</button>
          <button ng-if="!couponStatus.jiuyin9910" class="btn active" type="button">已领空</button>
        </div>
        <div class="col-xs-3"><img src="images/coupon/c_xs_04.gif" alt="" ng-click="getCouponId('baihuo9910')">
          <button ng-if="couponStatus.baihuo9910" class="btn" type="button" ng-click="getCouponId('baihuo9910')">立即获取</button>
          <button ng-if="!couponStatus.baihuo9910" class="btn active" type="button">已领空</button>
        </div>
      </div>
    </div>

    <nav class="text-center"><img src="images/banners/banner_2.png" alt=""></nav>

    <ul class="list">
      <li class="">
        <a ng-href="http://m.womai.com/0s4050.shtml?sourceId={{settings.sourceId}}"><img class="" src="images/link/link_01.png" alt="">

          <!--<span class="btn">&nbsp;&nbsp;去看看》</span>-->
        </a>
      </li>
      <li class="">
        <a ng-href="http://m.womai.com/0s4051.shtml?sourceId={{settings.sourceId}}"><img class="" src="images/link/link_02.png" alt="">

          <!--<span class="btn">&nbsp;&nbsp;去看看》</span>-->
        </a>
      </li>
      <li class="">
        <a ng-href="http://m.womai.com/0s4053.shtml?sourceId={{settings.sourceId}}"><img class="" src="images/link/link_03.png" alt="">

          <!--<span class="btn">&nbsp;&nbsp;去看看》</span>-->
        </a>
      </li>
      <li class="">
        <a ng-href="http://m.womai.com/0s4054.shtml?sourceId={{settings.sourceId}}"><img class="" src="images/link/link_04.png" alt="">

          <!--<span class="btn">&nbsp;&nbsp;去看看》</span>-->
        </a>
      </li>
    </ul>
    <div class="inapp" ng-if="isInApp()">
      <nav class="inapp text-center"><img src="images/banners/banner_in_app.png" alt="" ng-click="goToWomai()"></nav>
    </div>

    <div class="inh5" ng-if="!isInApp()">
      <nav class="text-center"><img src="images/banners/banner_57.png" alt=""></nav>

      <div class="m-extend">
        <div class="prod" ng-repeat="type in settings.mExtend track by $index">
          <ul class="prod-type" ng-if="(type.type == '5.7元均一价')">
            <li class="prod-item" ng-repeat="item in type.item track by $index">
              <a ng-href="{{item.url + '?sourceId=' + settings.sourceId}}">
                <p>
                  <img ng-src="{{item.img}}" alt=""/>
                </p>

                <h2 class="prod-desc">{{item.desc}}</h2>
              </a>

              <div class="cuxiao">
                <img src="http://images01.womaiapp.com/s/goodstag/2.jpg" alt=""/>
              </div>
              <div class="s-lr">
                <div class="sl">
                  <span class="s-color2">{{item.price}}</span>
                </div>
                <div class="sr">
                  <span class="s-jvBorder s-inblock"><a class="s-jvBtn s-Btn24" ng-href="{{item.url + '?sourceId=' + settings.sourceId}}">立即购买</a></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <nav class="text-center"><img src="images/banners/banner_157.png" alt=""></nav>

      <div class="m-extend">
        <div class="prod" ng-repeat="type in settings.mExtend track by $index">
          <ul class="prod-type" ng-if="(type.type == '15.7元均一价')">
            <li class="prod-item" ng-repeat="item in type.item track by $index">
              <a ng-href="{{item.url + '?sourceId=' + settings.sourceId}}">
                <p>
                  <img ng-src="{{item.img}}" alt=""/>
                </p>

                <h2 class="prod-desc">{{item.desc}}</h2>
              </a>

              <div class="cuxiao">
                <img src="http://images01.womaiapp.com/s/goodstag/2.jpg" alt=""/>
              </div>
              <div class="s-lr">
                <div class="sl">
                  <span class="s-color2">{{item.price}}</span>
                </div>
                <div class="sr">
                  <span class="s-jvBorder s-inblock"><a class="s-jvBtn s-Btn24" ng-href="{{item.url + '?sourceId=' + settings.sourceId}}">立即购买</a></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="rule2" ng-click="goToRule()">活动规则</div>

  <div class="fixedShareBtn" ng-click="share()"></div>

  <div class="fixedBackTopBtn" back-top></div>

  <div class="mask" ng-show="showReg">
    <div class="box">
      <div class="icon" ng-click="closeRegPanel()"><img src="images/icon/icon_close.png" alt=""></div>
      <div class="alert-window text-center">
        <p class="reg-hint">填写手机号立刻领券，注册登录后即可使用</p>

        <form ng-submit="submitReg()">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <input type="tel" class="form-control" placeholder="请输入手机号" ng-model="inputPhone"/>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-xs-offset-1">
              <input type="tel" class="form-control" placeholder="请输入验证码" ng-model="inputCaptcha"/>
            </div>
            <div class="col-xs-4">
              <div class="captcha" captcha ng-click="refreshCaptcha()"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <button class="btn btn-success form-control" ng-disabled="disableSubmit">{{disableSubmit ? '领券ing...' : '立即领取'}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="mask" ng-show="showSuccess" success-alert>
    <div class="box">
      <div class="icon" ng-click="closeRegSuccess()"><img src="images/icon/icon_close.png" alt=""/></div>
      <div class="alert-window text-center">
        <div class="success">
          <h4>恭喜您领券成功！</h4>
          <p>优惠券已放入<span class="account">{{' ' + user.phone + ' '}}</span>帐户的“我的卡券”中</p>
          <div class="group">
            <button class="btn checking" type="button" ng-click="goChecking()">查看我的卡券</button>
            <button class="btn shopping" type="button" ng-click="goShopping()">去购物</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mask" ng-show="showConfirm" confirm-alert>
    <div class="box">
      <div class="icon" ng-click="closeConfirm()"><img src="images/icon/icon_close.png" alt=""/></div>
      <div class="alert-window text-center">
        <div class="success">
          <h4>确认领券这张优惠券吗？</h4>
          <div class="group">
            <button type="button" class="btn checking" ng-click="getCoupon()" ng-disabled="disableConfirmYesBtn">{{disableConfirmYesBtn ? '领券ing...' : '是'}}</button>
            <button type="button" class="btn shopping" ng-click="closeConfirm()">否</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mask" ng-show="showFailure" failure-alert></div>

  <div class="mask" ng-show="settings.isShare" ng-click="closeShare()">
    <div class="box share-bg"></div>
  </div>
</div>
