<div class="home container-fluid">
  <section class="section1">
    <!-- banner -->
    <div class="banner"><img src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/banner_01.jpg" alt=""></div>
    <!-- nav -->
    <nav class="text-center"><img src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/gif/title_01.gif" alt=""></nav>
    <!-- coupon -->
    <div class="container coupon">
      <!-- 1 -->
      <div class="row">
        <div class="col-xs-12"><img src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/coupon/c_lg_01.gif" alt="" ng-click="getCoupon('xinren8815')">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4"><img src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/coupon/c_sm_01.gif" alt="" ng-click="getCoupon('fanpiao8810')">
          <button ng-if="couponStatus.fanpiao8810" class="btn" type="button" ng-click="getCoupon('fanpiao8810')">立即获取</button>
          <button ng-if="!couponStatus.fanpiao8810" class="btn active" type="button">已领空</button>
        </div>

        <div class="col-xs-4"><img src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/coupon/c_sm_02.gif" alt="" ng-click="getCoupon('roupiao19950')">
          <button ng-if="couponStatus.roupiao19950" class="btn" type="button" ng-click="getCoupon('roupiao19950')">立即获取</button>
          <button ng-if="!couponStatus.roupiao19950" class="btn active" type="button">已领空</button>
        </div>
        <div class="col-xs-4"><img src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/coupon/c_sm_03.gif" alt="" ng-click="getCoupon('yanghuo1010')">
          <button ng-if="couponStatus.yanghuo1010" class="btn" type="button" ng-click="getCoupon('yanghuo1010')">立即获取</button>
          <button ng-if="!couponStatus.yanghuo1010" class="btn active" type="button">已领空</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3"><img src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/coupon/c_xs_01.gif" alt="" ng-click="getCoupon('liangpiao55')">
          <button ng-if="couponStatus.liangpiao55" class="btn" type="button" ng-click="getCoupon('liangpiao55')">立即获取</button>
          <button ng-if="!couponStatus.liangpiao55" class="btn active" type="button">已领空</button>
        </div>
        <div class="col-xs-3"><img src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/coupon/c_xs_02.gif" alt="" ng-click="getCoupon('lingshi6910')">
          <button ng-if="couponStatus.lingshi6910" class="btn" type="button" ng-click="getCoupon('lingshi6910')">立即获取</button>
          <button ng-if="!couponStatus.lingshi6910" class="btn active" type="button">已领空</button>
        </div>
        <div class="col-xs-3"><img src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/coupon/c_xs_03.gif" alt="" ng-click="getCoupon('jiuyin9910')">
          <button ng-if="couponStatus.jiuyin9910" class="btn" type="button" ng-click="getCoupon('jiuyin9910')">立即获取</button>
          <button ng-if="!couponStatus.jiuyin9910" class="btn active" type="button">已领空</button>
        </div>
        <div class="col-xs-3"><img src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/coupon/c_xs_04.gif" alt="" ng-click="getCoupon('baihuo9910')">
          <button ng-if="couponStatus.baihuo9910" class="btn" type="button" ng-click="getCoupon('baihuo9910')">立即获取</button>
          <button ng-if="!couponStatus.baihuo9910" class="btn active" type="button">已领空</button>
        </div>
      </div>
    </div>
    <nav class="text-center"><img src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/gif/title_02.gif" alt=""></nav>

    <ul class="list margin-top">
      <li class="">
        <a href=""><img class="" src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/link/link_01.png" alt="">

          <span class="btn">&nbsp;&nbsp;去看看》</span>
        </a>
      </li>
      <li class="">
        <a href=""><img class="" src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/link/link_02.png" alt="">

          <span class="btn">&nbsp;&nbsp;去看看》</span>
        </a>
      </li>
      <li class="">
        <a href=""><img class="" src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/link/link_03.png" alt="">

          <span class="btn">&nbsp;&nbsp;去看看》</span>
        </a>
      </li>
      <li class="">
        <a href=""><img class="" src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/link/link_04.png" alt="">

          <span class="btn">&nbsp;&nbsp;去看看》</span>
        </a>
      </li>
    </ul>
  </section>
  <div class="rule2" ng-click="goToRule()">活动规则</div>
  <div id="mask" class="mask" ng-show="isOldUser" old-user-hint="">
    <!--以下内容移至directive中-->
    <!--<div class="box">-->
    <!--<i class="icon"><img src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/icon/icon_close.png" alt="" ng-click="closeHint()"></i>-->
    <!--<ul class="input-group">-->
    <!--<li>-->
    <!--<img src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/cayman.gif" alt="">-->

    <!--<div>-->
    <!--<p>很抱歉您不是新用户</p>-->

    <!--<p>您可以领取老用户专享券哦</p>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
  </div>
</div>
