<nav><img src="http://womai2016.cdn.cocos2d-js.cn/H5_Project/517Coupon/images/rule_title.jpg" alt=""></nav>
<div class="container">
  <section class="se1">
    <p><span><i>1</i></span> 活动时间：4月28日10:00-5月10日10:00</p>
    <p><span><i>2</i></span> 活动范围：全国</p>
    <p><span><i>3</i></span> 优惠券领取说明：</p>
  </section>
  <section class="se2">
    <div class="box">
      <h5>a.</h5>
      <p>领券时间：4月28日10:00-5月10日10:00使用时间：5月3日10:00-5月10日10:00，优惠券不能叠加使用，每笔订单只能使用一张优惠券</p>
    </div>
    <div class="box">
      <h5>b.</h5>
      <p>新用户专享红包，仅限新注册且验证过手机号的用户领取，每个新用户限领取一次；同一用户（同一账号、同一手机号、同一设备等均视为同一用户）</p>
    </div>
    <div class="box">
      <h5>c.</h5>
      <p>优惠券每日领取量是根据会员等级不同，领券张数不同，数量有限，领完为止；<br>
        普通会员&铜牌会员活动期间限领3张；<br>
        白银VIP&黄金VIP活动期间限领4张；<br>
        白金VIP&钻石VIP活动期间限领6张；</p>
    </div>
    <div class="box">
      <h5>d.</h5>
      <p>点击“领取”后，30分钟内系统会自动绑定到您的账户内，若有延迟请耐心等待</p>
    </div>
    <div class="box">
      <h5>e.</h5>
      <p>满减金额是指订单实际支付金额（不含运费），请以购物车显示为准（礼卡礼券、团购卡、团购&闪购商品、产地直送、跨境购、部分礼包商和特惠品不参加）</p>
    </div>
    <div class="box">
      <h5>f.</h5>
      <p>如果成功下单后取消或后期退换货，优惠券会自动退还到账户中，活动期间内可以再次使用</p>
    </div>
  </section>
  <section class="se1">
    <p><span><i>4</i></span>各品类活动力度请参考分会场页面说明</p>
    <p><span><i>5</i></span>生鲜、常温商品分仓发货；成功下单后，商品会在7天内送达</p>
    <p><span><i>6</i></span>本活动有权取消同一收货地址同一款商品大量重复订购的恶意订单</p>
  </section>
</div>
